body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: black;
  padding: 40px;
  max-width: 900px;
  margin: auto;
}
img {
  border-radius: 8px;
  width: 150px;
}
h1 {
  color: black;
}
a {
  color: #4eaaff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

header {
  background-color: #D9DAEA;
  color: black;
  padding: 1em;
  text-align: center;
}

nav a {
  color: black;
  margin: 0 1em;
  text-decoration: none;
}

section {
  padding: 2em;
}

.project {
  border: 1px solid #9697A2;
  padding: 1em;
  margin-bottom: 1em;
}

footer {
  background-color: #D9DAEA;
  color: black;
  text-align: center;
  padding: 1em;
}
